Django~=4.0.5
django-environ
pydantic
celery~=5.2.7
uuid~=1.30
django-taggit
django-ninja
datetime~=4.5
django-model-utils~=4.2.0

#Dev packages
django-werkzeug
django-debug-toolbar~=3.5.0
# factory==1.2
pytest==7.1.2
